<form [formGroup]="formData">
  <h2>Dados do colaborador</h2>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>
        Nome
        <input type="text" pInputText readonly formControlName="nome" />
      </label>
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>
        Colaborador
        <input type="text" pInputText readonly formControlName="cargo" />
      </label>
    </div>
  </div>
  <h2>Dados do Veículo</h2>
  <div class="ui-g" formGroupName="veiculo">
    <div class="ui-g-4 ui-fluid">
      <label>
        Nome
        <input type="text" pInputText formControlName="nome" />
      </label>
    </div>
    <div class="ui-g-4 ui-fluid">
      <label>
        Placa
        <p-inputMask mask="aaaa-999" formControlName="placa"></p-inputMask>
      </label>
    </div>
    <div class="ui-g-3 ui-fluid">
      <label> Ano</label>
      <input type="number" pInputText formControlName="ano" />
    </div>
  </div>
  <div class="ui-g-12 ui-fluid" *ngIf="revisao">
    <label>
      Justificativa
      <textarea pInputTextarea formControlName="justificativa" readonly>
      </textarea>
    </label>
  </div>
</form>
